{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="blog-page row">
	{% for row in rows %}
		{% set card_style = (row.content['#node'].field_design.target_id) == 1 ? 'design-1': (row.content['#node'].field_design.target_id) == 2 ? 'design-2' : 'design-3' %}
		<div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-1">
			<div class="{{card_style}}">
				<div class="blog-page__card-image">
					<img src="{{ file_url(row.content['#node'].field_blog_image.entity.uri.value) }}" alt="">
				</div>
				<div class="blog-page__card-text">
					<h5 class="blog-page__card-text--header">{{ row.content['#node'].title.value }}</h5>
					<p class="blog-page__card-text--para">{{ row.content['#node'].body.value|slice(0, 50) }}</p>
				</div>
			</div>

		</div>
	{% endfor %}
</div>
